$icon-size: 40px;

$row-offset: 30px;
$row-distance: $icon-size + $row-offset;

$col-offset: 44px;
$col-gutter: 16px;
$col-distance: $icon-size + $col-gutter;

$color-yellow: #ffd100;
$color-green: #1eff00;
$color-dark-green: #40bf40;
$color-subtle: #9d9d9d;
$color-icon-overlay: #6396d6;