@import "../sass/config";

@function baseRowTopOffset($row) {
  @return $row-offset + ($row * $row-distance);
}

@function calcLeftOffset($col) {
  @return $col-offset + ($col-gutter * ($col - 1)) + $icon-size;
}

@function calcRightOffset($col) {
  @return $col-offset + ($col-distance * $col) + $icon-size;
}

@function calcArrowHeight($length) {
  @return 2px + ($row-offset * $length) + ($icon-size * ($length - 1))
}

.arrow {
  $arrow-width: 15px;
  position: absolute;

  &--right,
  &--left {
    height: $arrow-width;

    // Rows
    @for $i from 0 through 6 {
      &[data-row="#{$i}"] {
        top: 12px + baseRowTopOffset($i);
      }
    }

    // Lengths
    @for $i from 0 through 3 {
      &[data-length="#{$i}"] { 
        width: 1px + ($col-gutter * $i) + ($icon-size * ($i - 1));
      }
    }
  }

  &--right {
    background-image: url('../images/arrows/right.png');
    background-position: center right;

    &.arrow--active {
      background-image: url('../images/arrows/right-active.png');
    }

    // Cols
    @for $i from 0 through 3 {
      &[data-col="#{$i}"] { 
        left: 3px + calcRightOffset($i);
      }
    }
  }

  &--left {
    background-image: url('../images/arrows/left.png');
    background-position: center left;

    &.arrow--active {
      background-image: url('../images/arrows/left-active.png');
    }

    // Cols
    @for $i from 0 through 3 {
      &[data-col="#{$i}"] { 
        left: -3px + calcLeftOffset($i);
      }
    }
  }

  &--down {
    width: $arrow-width;
    background-image: url('../images/arrows/down.png');
    background-position: center bottom;

    &.arrow--active {
      background-image: url('../images/arrows/down-active.png');
    }

    // Rows
    @for $i from 0 through 6 {
      &[data-row="#{$i}"] {
        top: 40px + baseRowTopOffset($i);
      }
    }

    // Cols
    @for $i from 0 through 3 {
      &[data-col="#{$i}"] { 
        left: 5px + $col-offset + ($col-distance * $i) + floor($arrow-width / 2); 
      }
    }

    // Lengths
    @for $i from 0 through 3 {
      &[data-length="#{$i}"] { 
        height: calcArrowHeight($i);
      }
    }
  }

  &--right-down {
    // Horizontal
    ::before {
      content: "";
      position: absolute;
      height: $arrow-width;
      background-image: url('../images/arrows/rightdown.png');
      background-position: center right;
    }

    // Vertical
    ::after {
      content: "";
      position: absolute;
      width: $arrow-width;
      background-image: url('../images/arrows/down.png');
      background-position: center bottom;
    }
  }
}