$row-distance: 70px;

@mixin rowStyle($rowNr) {
  top: 30px + (($rowNr) * 70px);
}

.talent {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 2px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  small {
    font-size: 8px;
    line-height: 1em;
  }

  &--disabled {
    filter: grayscale(100%)
  }

  &:not(&--disabled) {
    cursor: pointer;
  }

  &--maxed {

  }

  @for $i from 0 through 6 {
    &[data-row="#{$i}"] {
      @include rowStyle($i)
    }
  }


  $col-distance-offset: 44px;
  $col-distance: 56px;

  &[data-col="0"] { left: $col-distance-offset; }
  &[data-col="1"] { left: $col-distance-offset + ($col-distance * 1); }
  &[data-col="2"] { left: $col-distance-offset + ($col-distance * 2); }
  &[data-col="3"] { left: $col-distance-offset + ($col-distance * 3); }

  &__points {
    position: absolute;
    padding: 1px 2px;
    bottom: -2px;
    right: -2px;
    color: white;
    font-size: 12px;
    background: black;
    border-radius: 2px;
  }
}